body {
  font-family: 'Roboto Condensed', helvetica, arial;
}
.list-inline > li {
  padding-left: 0px;
}
.issue-text {
  pointer-events: none;
}
#timeline {
  stroke: black;
  opacity: .3;
  stroke-width: 20px;
}
circle {
  fill: black;
  fill-opacity: .7;
  stroke: white;
  stroke-width: 1px;
}
.other {
  opacity: .8;
  fill: #998877;
}
.story {
  opacity: .8;
  fill: yellow;
}
.decade-text {
  fill: gray;
  opacity: .8;
  font-size: 270px;
}
.decade {
  filter: url(#css_blur);
  opacity: .2;
}
.d40 {
  fill: #aabbcc;
}
.d50 {
  fill: #778899;
}
.d60 {
  fill: #445577;
}
.d70 {
  fill: #223344;
}
.d80 {
  fill: #aabbcc;
}
.d90 {
  fill: #778899;
}
.d20 {
  fill: #445577;
}
text {
  font: 10px sans-serif;
}
#wrapper {
  padding-left: 20px;
  padding-right: 325px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-right: -325px;
  right: 325px;
  width: 325px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 325px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-right: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {
  #wrapper {
    padding-right: 0;
  }

  #sidebar-wrapper {
    right: 0;
  }

  #wrapper.active {
    position: relative;
    right: 325px;
  }

  #wrapper.active #sidebar-wrapper {
    right: 325px;
    width: 325px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

  .escaroleromaineandleaflettuce {
    fill: #74c476;
  }

  .broccoli {
    fill: #41ab5d;
  }

   .spinach {
    fill: #238b45;
  }
  
   .collardgreens {
    fill: #edf8e9;
  }
  
   .kale {
    fill: #c7e9c0;
  }
  
   .mustardgreens {
    fill: #a1d99b;
  }
  
   .turnipgreens {
    fill: #005a32;
  }
  
  .tomatoes { 
    fill: #D1160C; 
  }

 .carrots {
    fill: #FF9339;
  }
  
  .pumpkins {
    fill: #FF9332;
  }
  
  
  .sweetpotatoes { 
    fill: #FCCD00 ; 
  }

  .potatoes {
    fill: #BDAFA4;
  }
  
   .corn {
    fill: #FFE132;
  }
  
   .limabeans {
    fill: #869760;
  }
  
   .drybeans {
    fill: #A7B38D;
  }
  
   .drypeasandlentils {
    fill: #647936;
  }
  
   .othervegetables {
    fill: #191518;
  }
  
  
yogurt,fluid milk,american cheese,italian cheese,miscellaneous cheese,frozen dairy,evaporated milk,dry milk,cream products,eggs

  .yogurt { 
    fill: #FFF7E4; 
  }

 .fluidmilk {
    fill: #FFFFFF;
  }
  
  .americancheese {
    fill: #ECA800;
  }
  
  
  .italiancheese { 
    fill: #F2E9C0 ; 
  }

  .miscellaneouscheese {
    fill: #FFE253;
  }
  
   .frozendairy {
    fill: #F9A1CC;
  }
  
   .evaporatedmilk {
    fill: #DFDBCF;
  }
  
   .drymilk {
    fill: #FFF9E5;
  }
  
   .creamproducts {
    fill: #FFF9E5;
  }
  
   .eggs {
    fill: #A59B77;
  }
  
}