body {
  font-family: 'Roboto Condensed', helvetica, arial;
}
.list-inline > li {
  padding-left: 0px;
}
.issue-text {
  pointer-events: none;
}
#timeline {
  stroke: black;
  opacity: .3;
  stroke-width: 10px;
}
circle {
  fill: black;
  fill-opacity: .7;
  stroke: white;
  stroke-width: 1px;
}
.other {
  opacity: .8;
  fill: #998877;
}
.story {
  opacity: .8;
  fill: yellow;
}
.decade-text {
  fill: gray;
  opacity: .8;
  font-size: 270px;
}
.decade {
  filter: url(#css_blur);
  opacity: .2;
}
.d40 {
  fill: #aabbcc;
}
.d50 {
  fill: #778899;
}
.d60 {
  fill: #445577;
}
.d70 {
  fill: #223344;
}
.d80 {
  fill: #aabbcc;
}
.d90 {
  fill: #778899;
}
.d20 {
  fill: #445577;
}
text {
  font: 10px sans-serif;
}
#wrapper {
  padding-left: 20px;
  padding-right: 325px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-right: -325px;
  right: 325px;
  width: 325px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 325px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-right: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {
  #wrapper {
    padding-right: 0;
  }

  #sidebar-wrapper {
    right: 0;
  }

  #wrapper.active {
    position: relative;
    right: 325px;
  }

  #wrapper.active #sidebar-wrapper {
    right: 325px;
    width: 325px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

  .escarole-romaine-and-leaf-lettuce {
    fill: #74c476;
  }

  .broccoli {
    fill: #41ab5d;
  }

   .spinach {
    fill: #238b45;
  }
  
   .collard-greens {
    fill: #edf8e9;
  }
  
   .kale {
    fill: #c7e9c0;
  }
  
   .mustard-greens {
    fill: #a1d99b;
  }
  
   .turnip-greens {
    fill: #005a32;
  }
  
  .tomatoes { 
    fill: #D1160C; 
  }

 .carrots {
    fill: #FF9339;
  }
  
  .pumpkins {
    fill: #FF9332;
  }
  
  
  .sweet-potatoes { 
    fill: #FCCD00 ; 
  }

  .potatoes {
    fill: #BDAFA4;
  }
  
   .corn {
    fill: #FFE132;
  }
  
   .lima-beans {
    fill: #869760;
  }
  
   .dry-beans {
    fill: #A7B38D;
  }
  
   .dry-peas-and-lentils {
    fill: #647936;
  }
  
   .other-vegetables {
    fill: #191518;
  }
  
    .yogurt { 
    fill: #FFF7E4; 
  }

 .fluid-milk {
    fill: #FFFFFF;
  }
  
  .american-cheese {
    fill: #ECA800;
  }
  
  
  .italian-cheese { 
    fill: #F2E9C0 ; 
  }

  .miscellaneous-cheese {
    fill: #FFE253;
  }
  
   .frozen-dairy {
    fill: #F9A1CC;
  }
  
   .evaporated-milk {
    fill: #DFDBCF;
  }
  
   .dry-milk {
    fill: #FFF9E5;
  }
  
   .cream-products {
    fill: #FFF9E5;
  }
  
   .eggs {
    fill: #A59B77;
  }
  
   .butter {
    fill: #FEF38B;
  }
  
  .margarine {
    fill: #FFFDE4;
  }
  
  
  .lard { 
    fill: #FFFFFD; 
  }

  .edible-beef-tallow {
    fill: #726950;
  }
  
   .shortening {
    fill: #FFE132;
  }
  
   .salad-and-cooking-oils {
    fill: #726F50;
  }
  
   .other-edible-fats-and-oils {
    fill: #B3B097;
  }
  
   .light-cream {
    fill: #FFFAD0;
  }
  
   .sour-cream {
    fill: #D7D7D6;
  }

   .cream-cheese {
    fill: #DAD5A3;
  }
  
   .eggnog {
    fill: #D2C76A;
  }

  .oranges {
    fill: #FFE100;
  }
  
   .tangerines {
    fill: #EBA944;
  }
  
   .grapefruit {
    fill: #FFF5AE;
  }

   .lemons {
    fill: #FFFF00;
  }
  
   .limes {
    fill: #B7F300;
  }

  .apples {
    fill: #621300;
  }

  .apricots {
    fill: #FF9F00;
  }
  
   .avocados {
    fill: #8DA336;
  }
  
   .bananas {
    fill: #FFF674;
  }

   .blueberries {
    fill: #1F195C;
  }
  
   .cantaloupe {
    fill: #FFDF45;
  }

  .cherries {
    fill: #6F0407;
  }
  
   .cranberries {
    fill: #5D191B;
  }
  
   .grapes {
    fill: #640A50;
  }

   .honeydew-melons {
    fill: #CBEF83;
  }
  
   
  .kiwi {
    fill: #87CB00;
  }
  
   .mangoes {
    fill: #EDC400;
  }
  
  .peaches {
    fill: #FFBA4D;
  }

   .pears {
    fill: #DBF94B;
  }

   .pineapple {
    fill: #FFFF4D;
  }
  
   .papayas {
    fill: #FAAA11;
  }

  .plums {
    fill: #7B075E;
  }
  
   .raspberry {
    fill: #EA0C00;
  }
  
   .strawberries {
    fill: #9F0800;
  }

   .watermelon {
    fill: #F8001D;
  }
  
   .canned {
    fill: #8C797B;
  }

  .frozen {
    fill: #68AA98;
  }
  
   .dried {
    fill: #AD8246;
  }
  
   .juice {
    fill: #FFD300;
  }

   .wheat-flour {
    fill: #36311A;
  }

   .rye-flour {
    fill: #6D622E;
  }
  
   .rice {
    fill: #ADA683;
  }

  .corn-products {
    fill: #E1D72D;
  }
  
   .oat-products {
    fill: #676649;
  }
  
   .barley-products {
    fill: #BDBA7E;
  }

    .beef {
    fill: #58563D;
  }

   .veal {
    fill: #7A7742;
  }
  
   .pork {
    fill: #FFE9DA;
  }

  .lamb {
    fill: #FFFAF7;
  }
  
   .chicken {
    fill: #FFEEC5;
  }
  
   .turkey {
    fill: #FFDCBD;
  }

    .peanuts {
    fill: #FFC46E;
  }
  
   .almonds {
    fill: #331F02;
  }
  
   .hazelnuts {
    fill: #804C00;
  }

    .pecans {
    fill: #483821;
  }

   .walnuts {
    fill: #A57F47;
  }
  
   .macadamia {
    fill: #C8B394;
  }

  .pistacios {
    fill: #C8B394;
  }
  
   .other-nuts {
    fill: #131411;
  }
  
   .coconuts {
    fill: #F1F1F1;
  }

   .fresh-and-frozen-seafood {
    fill: #F5987F;
  }
  
   .canned-seafood {
    fill: #645552;
  }
  
   .cured-seafood {
    fill: #FFFEFE;
  }
  
    .cane-and-beet-sugar {
    fill: #FFFFFF;
  }

   .corn-sweetener {
    fill: #FFEF60;
  }
  
   .syrup {
    fill: #967621;
  }
  
   .honey {
    fill: #DA9F00;
  }

}
